*{
    margin: 0;
    padding: 0;
}
.block{
    width: 320px;
    height: auto;
    background-color: #ececec;
    padding-bottom: 50px;
}
.banner{
    width: 320px;
    height: 280px;
    background: url("../image/my/member_top_bg.png") no-repeat;
    background-size: 320px 280px;
}
.member{
    width: 250px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.pic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.pic>img{
    width: 100%;
}
.txt{
    margin-top: 10px;
    height: auto;
}
.txt>span{
    color: white;
    font-size: 18px;
}
.abs{
    position: absolute;
    right: -20px;
    top: 113px;
}
.abs>a{
    display: block;
    color: white;
    line-height: 15px;
    background-color:#F15353;
    border-radius: 3px;
    padding: 0 5px;
}
.collect{
    width: 320px;
    height: 80px;
    margin-top: 50px;

}
.collect_col{
    padding: 10px 0;
}
.collect_col>p:nth-child(1){
    color: white;
    font-size: 25px;
}
.collect_col>p:nth-child(2){
    color: white;
    font-size: 14px;
}
.order{
    margin-top: 10px;
    padding:10px 10px;
    background-color: white;
    height: auto;
}
.totalorderblock{
    line-height: 30px;
}
.totalorder{
    font-size: 16px;
}
.seeorder{
    color: #9a9a9a;
}
.list{
    margin-top: 10px;
}
.listinfo{
    width: 20%;
    font-size: 14px;
}
.ulblock{
    background-color: white;
    margin-top: 10px;
}
.ul>li{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 10px;
}
.ul>li>i{
    display:block;
    float: left;
    width: 25px;
    height: 25px;
    position: relative;
    top: -3px;
}
.ul>li>i>img{
    width: 100%;
}
.ul>li>span:nth-child(2){
    font-size: 16px;
    margin-left: 10px;
}
.ul>li>span:nth-child(3){
    font-size: 14px;
    float: right;
    color: gray;
}
.main{
    position: fixed;
    bottom: 0;
    width: 320px;
    background-color: #f0eeef;
    color: #4689ff;
    padding: 5px 0;
}
.footer{
    width: 20%;
}